<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>


    <%- include('./partials/nav.ejs') %>

    <div class="blogs content">
        <h2 style="text-align: center;">All Students</h2>

        <% if (students.length > 0) { %>
            <% students.forEach(student => { %>

            <a class="single" href="/students/<%= student._id %>">
                <h3 class="title"><%= student.name %></h3>
                <p class="snippet"><%= student.program %></p>
            </a> 

            <% }) %>
        <% } else { %>
                <p>There are no students to display...</p>
            <% } %>

    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>